title ATS Check
link(rel='stylesheet', href='/css/main.css')
table
  thead
    tr
      th ITEM
      th RESULT
  tbody
    tr#https-ajax
      td HTTPS AJAX
      td
    tr#http-ajax
      td HTTP AJAX
      td
    tr#https-img
      td HTTPS IMG
      td
    tr#http-img
      td HTTP IMG
      td
    tr#https-a
      td HTTPS A
      td
    tr#http-a
      td HTTP A
      td
    tr#https-css
      td HTTPS CSS
      td RED
    tr#http-css
      td HTTP CSS
      td RED
    tr
      td HTTPS
      td
script(src='/js/main.js')
